In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('../american_soccer_analysis_mls_salaries_players_defenders_2019.csv') #reading in salary data from american soccer analysis

In [25]:
df.head()

,Player,Team,Season,Position,Base Salary,Guaranteed Compensation,Date
41,Gabriel Somi,NER,2019,D,391000.00,425000.00,6/1/19
37,Erik Godoy,VAN,2019,D,381818.16,449318.16,9/13/19
45,Artur,CLB,2019,D,360000.00,411633.00,6/1/19
55,Gastón Sauro,CLB,2019,D,360000.00,360000.00,6/1/19
49,Ike Opara,MIN,2019,D,350000.04,367916.71,9/13/19

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 93 entries, 41 to 216
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Player                   93 non-null     object
 1   Team                     93 non-null     object
 2   Season                   93 non-null     int64
 3   Position                 93 non-null     object
 4   Base Salary              93 non-null     float64
 5   Guaranteed Compensation  93 non-null     float64
 6   Date                     93 non-null     object
dtypes: float64(2), int64(1), object(4)
memory usage: 5.8+ KB

In [27]:
df = df[df['Base Salary'] < 400000.00] # selecting players with a base salary less that 400000

In [28]:
df.sort_values(by='Base Salary', ascending=False, inplace=True)

In [29]:
df.shape

(93, 7)

In [30]:
df.drop_duplicates(subset="Player", keep = 'first', inplace = True)

## List of all defenders under salary of 400k

Let's grab the top few teams that have performed well defensively this MLS is back tournament

In [32]:
top_teams = df[(df['Team'] == 'ORL') | (df['Team'] == 'SJE') | (df['Team'] == 'CLB') | (df['Team'] == 'PHI')]

In [33]:
top_teams

,Player,Team,Season,Position,Base Salary,Guaranteed Compensation,Date
45,Artur,CLB,2019,D,360000.00,411633.00,6/1/19
55,Gastón Sauro,CLB,2019,D,360000.00,360000.00,6/1/19
58,David Guzmán,CLB,2019,D,320000.04,340000.04,9/13/19
53,Kai Wagner,PHI,2019,D,318000.00,360150.00,6/1/19
70,Judson,SJE,2019,D,300000.00,305000.00,6/1/19
63,Milton Valenzuela,CLB,2019,D,290000.04,321300.04,9/13/19
51,Harrison Afful,CLB,2019,D,288100.00,363800.00,6/1/19
46,Marcos López,SJE,2019,D,280000.00,387750.00,6/1/19
65,Harold Cummings,SJE,2019,D,270000.00,320667.00,6/1/19
81,Robin Jansson,ORL,2019,D,261000.00,289800.00,6/1/19
86,Jack Elliott,PHI,2019,D,250000.08,265000.08,9/13/19
85,Francois Affolter,SJE,2019,D,250000.00,273000.00,6/1/19
89,Shea Salinas,SJE,2019,D,250000.00,250000.00,6/1/19
97,Josh Williams,CLB,2019,D,215000.04,215000.04,9/13/19
96,Nick Lima,SJE,2019,D,200000.04,218437.54,9/13/19
109,Héctor Jiménez,CLB,2019,D,200000.04,200000.04,9/13/19
113,Raymon Gaddis,PHI,2019,D,190000.08,190000.08,9/13/19
121,Aurélien Collin,PHI,2019,D,175000.08,175000.08,9/13/19
123,Tommy Thompson,SJE,2019,D,175000.00,175000.00,6/1/19
119,Warren Creavalle,PHI,2019,D,162000.00,175300.00,6/1/19
112,Waylon Francis,CLB,2019,D,160000.08,199166.75,9/13/19
131,Ruan,ORL,2019,D,160000.00,160000.00,6/1/19
105,João Moutinho,ORL,2019,D,140000.00,203000.00,6/1/19
135,Alex De John,ORL,2019,D,135000.00,146614.17,9/13/19
139,Shane O'Neill,ORL,2019,D,125000.00,139500.00,6/1/19
150,Fabinho,PHI,2019,D,120000.00,120000.00,9/13/19
155,Danilo Acosta,ORL,2019,D,110000.04,110000.04,9/13/19
161,Alex Crognale,CLB,2019,D,104504.40,104504.40,9/13/19
147,Auston Trusty,PHI,2019,D,95000.04,124100.04,9/13/19
158,Aboubacar Keita,CLB,2019,D,90000.00,110000.00,9/13/19
165,Cameron Lindley,ORL,2019,D,90000.00,98906.25,9/13/19
171,Mark McKenzie,PHI,2019,D,72225.00,82225.00,6/1/19
181,Luis Felipe,SJE,2019,D,70875.00,71625.00,6/1/19
183,Jimmy Ockford,SJE,2019,D,70875.00,70875.00,6/1/19
184,Olivier Mbaizo,PHI,2019,D,70875.00,70875.00,6/1/19
188,RJ Allen,PHI,2019,D,70250.04,70250.04,9/13/19
191,Kyle Smith,ORL,2019,D,70250.04,70250.04,9/13/19
189,Connor Maloney,CLB,2019,D,70250.04,70250.04,9/13/19
198,Jacob Akanyirige,SJE,2019,D,62225.04,64225.04,9/13/19
205,Paul Marie,SJE,2019,D,57225.00,57225.00,6/1/19
208,Matthew Real,PHI,2019,D,57225.00,57225.00,9/13/19
210,Kamal Miller,ORL,2019,D,56250.00,56250.00,6/1/19

## Potential Players

In [34]:
top_teams[top_teams['Team'] == 'CLB']

,Player,Team,Season,Position,Base Salary,Guaranteed Compensation,Date
45,Artur,CLB,2019,D,360000.00,411633.00,6/1/19
55,Gastón Sauro,CLB,2019,D,360000.00,360000.00,6/1/19
58,David Guzmán,CLB,2019,D,320000.04,340000.04,9/13/19
63,Milton Valenzuela,CLB,2019,D,290000.04,321300.04,9/13/19
51,Harrison Afful,CLB,2019,D,288100.00,363800.00,6/1/19
97,Josh Williams,CLB,2019,D,215000.04,215000.04,9/13/19
109,Héctor Jiménez,CLB,2019,D,200000.04,200000.04,9/13/19
112,Waylon Francis,CLB,2019,D,160000.08,199166.75,9/13/19
161,Alex Crognale,CLB,2019,D,104504.40,104504.40,9/13/19
158,Aboubacar Keita,CLB,2019,D,90000.00,110000.00,9/13/19
189,Connor Maloney,CLB,2019,D,70250.04,70250.04,9/13/19

From Columbus
1. Aboubacar Keita - height of 6'2" and has played on US under 20 national team. 
2. Jonathan Mensah - heigh of 6'2" and has played in two world cups with Ghana, he is under the salary cap and has started all of 2020 season
3. **Josh Williams** - this could be a great pick, 59 regular season starts, ohio native, but lots of deep centerback experience

In [35]:
top_teams[top_teams['Team'] == 'SJE']

,Player,Team,Season,Position,Base Salary,Guaranteed Compensation,Date
70,Judson,SJE,2019,D,300000.00,305000.00,6/1/19
46,Marcos López,SJE,2019,D,280000.00,387750.00,6/1/19
65,Harold Cummings,SJE,2019,D,270000.00,320667.00,6/1/19
85,Francois Affolter,SJE,2019,D,250000.00,273000.00,6/1/19
89,Shea Salinas,SJE,2019,D,250000.00,250000.00,6/1/19
96,Nick Lima,SJE,2019,D,200000.04,218437.54,9/13/19
123,Tommy Thompson,SJE,2019,D,175000.00,175000.00,6/1/19
181,Luis Felipe,SJE,2019,D,70875.00,71625.00,6/1/19
183,Jimmy Ockford,SJE,2019,D,70875.00,70875.00,6/1/19
198,Jacob Akanyirige,SJE,2019,D,62225.04,64225.04,9/13/19
205,Paul Marie,SJE,2019,D,57225.00,57225.00,6/1/19

From San Jose
1. Nick Lima is potential, has been playing outside back recently but also plays full back. Has all 5 starts for SJE this MLS is back tourney

In [36]:
top_teams[top_teams['Team'] == 'ORL']

,Player,Team,Season,Position,Base Salary,Guaranteed Compensation,Date
81,Robin Jansson,ORL,2019,D,261000.00,289800.00,6/1/19
131,Ruan,ORL,2019,D,160000.00,160000.00,6/1/19
105,João Moutinho,ORL,2019,D,140000.00,203000.00,6/1/19
135,Alex De John,ORL,2019,D,135000.00,146614.17,9/13/19
139,Shane O'Neill,ORL,2019,D,125000.00,139500.00,6/1/19
155,Danilo Acosta,ORL,2019,D,110000.04,110000.04,9/13/19
165,Cameron Lindley,ORL,2019,D,90000.00,98906.25,9/13/19
191,Kyle Smith,ORL,2019,D,70250.04,70250.04,9/13/19
210,Kamal Miller,ORL,2019,D,56250.00,56250.00,6/1/19

From Orlando:
    
1. Robin Jansson
2. Alex De John
3. Antonio Carlos

All have great experience but exceed the 400k cap.

In [37]:
top_teams[top_teams['Team'] == 'PHI']

,Player,Team,Season,Position,Base Salary,Guaranteed Compensation,Date
53,Kai Wagner,PHI,2019,D,318000.00,360150.00,6/1/19
86,Jack Elliott,PHI,2019,D,250000.08,265000.08,9/13/19
113,Raymon Gaddis,PHI,2019,D,190000.08,190000.08,9/13/19
121,Aurélien Collin,PHI,2019,D,175000.08,175000.08,9/13/19
119,Warren Creavalle,PHI,2019,D,162000.00,175300.00,6/1/19
150,Fabinho,PHI,2019,D,120000.00,120000.00,9/13/19
147,Auston Trusty,PHI,2019,D,95000.04,124100.04,9/13/19
171,Mark McKenzie,PHI,2019,D,72225.00,82225.00,6/1/19
184,Olivier Mbaizo,PHI,2019,D,70875.00,70875.00,6/1/19
188,RJ Allen,PHI,2019,D,70250.04,70250.04,9/13/19
208,Matthew Real,PHI,2019,D,57225.00,57225.00,9/13/19

From Phillidelphia:

1. **Jack Elliot** - a 6'5" centerback from London England has a few years of experience and the height that could provide more aerial fight for LAFC in the penalty area.

In [38]:
df.iloc[4:30]

,Player,Team,Season,Position,Base Salary,Guaranteed Compensation,Date
49,Ike Opara,MIN,2019,D,350000.04,367916.71,9/13/19
50,Justen Glad,RSL,2019,D,345000.00,366700.00,9/13/19
58,David Guzmán,CLB,2019,D,320000.04,340000.04,9/13/19
53,Kai Wagner,PHI,2019,D,318000.00,360150.00,6/1/19
42,Romain Métanire,MIN,2019,D,305000.04,411833.37,9/13/19
74,Eric Remedi,ATL,2019,D,300000.00,300000.00,6/1/19
60,Kyle Beckerman,RSL,2019,D,300000.00,325000.00,9/13/19
62,Florentin Pogba,ATL,2019,D,300000.00,324000.00,9/13/19
75,Luis Caicedo,NER,2019,D,300000.00,300000.00,6/1/19
72,Michael Parkhurst,ATL,2019,D,300000.00,300000.00,6/1/19
70,Judson,SJE,2019,D,300000.00,305000.00,6/1/19
73,Franco Escobar,ATL,2019,D,300000.00,300000.00,6/1/19
69,Michael Boxall,MIN,2019,D,300000.00,317333.00,6/1/19
63,Milton Valenzuela,CLB,2019,D,290000.04,321300.04,9/13/19
51,Harrison Afful,CLB,2019,D,288100.00,363800.00,6/1/19
46,Marcos López,SJE,2019,D,280000.00,387750.00,6/1/19
65,Harold Cummings,SJE,2019,D,270000.00,320667.00,6/1/19
81,Robin Jansson,ORL,2019,D,261000.00,289800.00,6/1/19
84,Wilfried Moimbé,MIN,2019,D,252000.00,274275.00,9/13/19
86,Jack Elliott,PHI,2019,D,250000.08,265000.08,9/13/19
85,Francois Affolter,SJE,2019,D,250000.00,273000.00,6/1/19
88,Edgar Castillo,NER,2019,D,250000.00,250000.00,6/1/19
89,Shea Salinas,SJE,2019,D,250000.00,250000.00,6/1/19
92,Brooks Lennon,RSL,2019,D,230004.00,242587.00,6/1/19
93,Brek Shea,ATL,2019,D,225000.00,225000.00,6/1/19
97,Josh Williams,CLB,2019,D,215000.04,215000.04,9/13/19

In [40]:
df[df['Player'] == 'Brent Kallman'] #double checking Brent Kallman from Minnesota United

,Player,Team,Season,Position,Base Salary,Guaranteed Compensation,Date
134,Brent Kallman,MIN,2019,D,118000.08,151531.33,9/13/19